version: '3.5'

services:
  db:
    image: postgres
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - 8000:5432
    environment:
      - POSTGRES_DB=fdl

networks:
  fdl-api: 
    external:
      name: fdl-api